
// Colors
$primary-dark: #042765;
$primary: #0a4296;
$primary-light: #7f9bc8;
$accent-dark: #2e4979;
$accent: #458cfc;
$accent-light: #c6dcfd;
$accent-light-200: #dce9ff;
$light: #f7f9fe;
$white: #ffffff;
